<div class="container">
	<div class="row">
		<h2>Search Investigation</h2>
	</div>
	<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
	<div class="form-group row" id="row1">
		<div class="col-sm-3" id="row1_col1">
<label for="labelFor" class='col-form-label'>NF-ID</label>



	</div>
		<div class="col-sm-3" id="row1_col1">
<input type='text' id='nfId' name='elementname' value='wewe' class="form-control inputfield">



	</div>
		<div class="col-sm-3" id="row1_col3">
<label for="labelFor" class='col-form-label'>Country</label>



	</div>
		<div class="col-sm-3" id="row1_col3">
<select placeholder="Placeholder" id="countryId" class="form-control inputfield" name="">
	<option *ngFor="let item of items" >
		{{item.viewValue}}
	</option>
</select>



	</div>
	</div>
	<div class="form-group row" id="row2">
		<div class="col-sm-3" id="row2_col1">


	</div>
		<div class="col-sm-3" id="row2_col2">


	</div>
		<div class="col-sm-3" id="row2_col3">


	</div>
		<div class="col-sm-3" id="row2_col4">


	</div>
	</div>
	<div class="form-group row" id="row3">
		<div class="col-sm-3" id="row3_col1">


	</div>
		<div class="col-sm-3" id="row3_col2">


	</div>
		<div class="col-sm-3" id="row3_col3">


	</div>
		<div class="col-sm-3" id="row3_col4">


	</div>
	</div>
	<div class="form-group row" id="row4">
		<div class="col-sm-3" id="row4_col1">


	</div>
		<div class="col-sm-3" id="row4_col2">


	</div>
		<div class="col-sm-3" id="row4_col3">


	</div>
		<div class="col-sm-3" id="row4_col4">


	</div>
	</div>
</form>
</div><div class="container">
	<div class="row">
		<h2>Search Investigation</h2>
	</div>
	<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
	<div class="form-group row" id="row1">
		<div class="col-sm-3" id="row1_col1">
<label for="labelFor" class='col-form-label'>NF-ID</label>



	</div>
		<div class="col-sm-3" id="row1_col1">
<input type='text' id='nfId' name='elementname' value='wewe' class="form-control inputfield">



	</div>
		<div class="col-sm-3" id="row1_col3">
<label for="labelFor" class='col-form-label'>Country</label>



	</div>
		<div class="col-sm-3" id="row1_col3">
<select placeholder="Placeholder" id="countryId" class="form-control inputfield" name="">
	<option *ngFor="let item of items" >
		{{item.viewValue}}
	</option>
</select>



	</div>
	</div>
	<div class="form-group row" id="row2">
		<div class="col-sm-3" id="row2_col1">


	</div>
		<div class="col-sm-3" id="row2_col2">


	</div>
		<div class="col-sm-3" id="row2_col3">


	</div>
		<div class="col-sm-3" id="row2_col4">


	</div>
	</div>
	<div class="form-group row" id="row3">
		<div class="col-sm-3" id="row3_col1">


	</div>
		<div class="col-sm-3" id="row3_col2">


	</div>
		<div class="col-sm-3" id="row3_col3">


	</div>
		<div class="col-sm-3" id="row3_col4">


	</div>
	</div>
	<div class="form-group row" id="row4">
		<div class="col-sm-3" id="row4_col1">


	</div>
		<div class="col-sm-3" id="row4_col2">


	</div>
		<div class="col-sm-3" id="row4_col3">


	</div>
		<div class="col-sm-3" id="row4_col4">


	</div>
	</div>
</form>
</div>